/*Color Palette
HIGHLIGHT #66F0F0
PRIMARY #1f1f1f
SECONDARY #363838
FONT #e3e3e3*/

body {
    font-family: "Montserrat", Calibri, sans-serif;
    background-color: #1f1f1f;
    color: #e3e3e3;
}

h1 {
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 1rem 0 0 0;
    font-size: 2rem;
    font-family: 'Noto Serif', Calibri, serif;
    color: #e3e3e3;
}

h2 {
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 1rem 0 0 0;
    font-size: 1.5rem;
    font-family: 'Noto Serif', Calibri, serif;
    color: #e3e3e3;
}

nav {
    display: flex;
    border-bottom: 0.1rem solid #e3e3e3;

    a {
        flex: 1;
        text-align: center;
        background-color: #1f1f1f;
        font-size: 0.8rem;
        color: #e3e3e3;
        margin: 0 0.5rem;
        padding: 0 0.5rem;
        transition-duration: 200ms;
        text-decoration: none;

        &:hover {
            background-color: #e3e3e3;
            color: #1f1f1f;
        }
    }

    span {
        flex: 1;
        text-align: center;
        font-size: 0.8rem;
        color: #3a3a37;
        margin: 0 0.5rem;
        padding: 0 0.5rem;
        transition-duration: 200ms;
        text-decoration: none;
        background-color: #1f1f1f;
    }
}

/* index */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield;
    /* Standard property for newer browsers */
}

/* class */

.subtitle {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin: 0;
    color: #e3e3e3;
}

.convertTable {
    display: flex;
    gap: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;

    div {
        flex: 1;
        box-shadow: 0 -0.5rem 1rem 0 #1f1f1f inset;
        background-color: #3a3a37;
        border-radius: 16px;
        margin: 2rem 0 0.5rem 0;
        box-sizing: border-box;
        font-size: 0.7rem;

        label {
            display: block;
            margin: 10px 0 5px 0;
            color: #e3e3e3;
        }

        input {
            box-shadow: 0 0.5rem 1rem 0 #3a3a37 inset, 0 -0.1rem 0.2rem #66F0F0 inset;
            margin: 0 auto 1rem auto;
            width: 60%;
            padding: 0.5rem;
            border: 0px;
            background-color: #1f1f1f;
            border-radius: 32px;
            text-align: center;
            color: #66F0F0
        }
    }
}

.historyTable {
    display: flex;
    gap: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;

    div {
        flex: 1;
        box-shadow: 0 -0.5rem 1rem 0 #1f1f1f inset;
        background-color: #3a3a37;
        border-radius: 16px;
        padding: 0.5rem 0 0.5rem 0;
        margin: 1rem 0 0 0;
        box-sizing: border-box;
        font-size: 0.7rem;
    }

    #deleteButton {
        display: none;
    }
}

.historyLine {
    display: flex;
    gap: 2%;
    text-align: center;
    justify-content: center;
    align-items: center;

    div {
        flex: 1;
        background-color: #1f1f1f;
        border: 0.15rem solid #3a3a37;
        border-radius: 16px;
        margin: 0.5rem 0 0 0;
        text-align: center;
        padding: 0.35rem 0 0.35rem 0;
        box-sizing: border-box;
        font-size: 0.7rem;
    }

    #deleteButton {
        flex: 1 3 0;
        display: none;
        background-color: #e3e3e3;
        text-align: right;
        color: #1f1f1f;
        padding: 0.35rem 0.2rem 0.35rem 0.1rem;
        border: none;
        border-radius: 0 16px 16px 0;
        box-shadow: 1rem 0 1rem 0.1rem #1f1f1f inset;
    }
}

.longButton {
    margin: 1rem auto 1rem auto;
    width: 55%;
    display: block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #e3e3e3;
    background-color: #1f1f1f;
    border: 0.15rem solid #3a3a37;
    border-radius: 1rem;
    transition-duration: 200ms;

    &:hover {
        border: 0.15rem solid #e3e3e3;
        background-color: #e3e3e3;
        color: #1f1f1f;
    }

}

#credits {
    font-size: 0.5rem;
    text-align: center;
}

/* priceComparison */
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 1rem 0 1rem;
    padding: 0.5rem 0;
    border: 0.15rem solid #3a3a37;
    border-radius: 1rem 1rem 0 0;

    label {
        flex: 2;
        display: inline;
        margin: 0 1rem;
        color: #e3e3e3;
    }

    select {
        flex: 3;
        box-shadow: 0 0.5rem 1rem 0 #3a3a37 inset, 0 -0.1rem 0.2rem #66F0F0 inset;
        margin: 0 1rem;
        padding: 0.5rem;
        border: 0px;
        background-color: #1f1f1f;
        border-radius: 32px;
        text-align: center;
        color: #66F0F0
    }
}

#subCategoryContainer {
    /*Overide .category */
    display: none;
    margin: 1rem 1rem 0 1rem;
    border-radius: 0;
}

#priceContainer {
    /* Overide .category */
    display: none;
    margin: 1rem 1rem 0 1rem;
    border-radius: 0 0 1rem 1rem;

    input {
        flex: 3;
        box-shadow: 0 0.5rem 1rem 0 #3a3a37 inset, 0 -0.1rem 0.2rem #66F0F0 inset;
        margin: 0 1rem;
        padding: 0.5rem;
        border: 0px;
        background-color: #1f1f1f;
        border-radius: 32px;
        text-align: center;
        color: #66F0F0
    }
}

#priceBar {
    display: none;
    background-color: #3a3a37;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 1rem 0 0.5rem -0.5rem #66F0F0 inset, -1rem 0 0.5rem -0.5rem #66F0F0 inset;

    label {
        flex: 1;
        align-items: center;
        margin: 0 1rem;
        color: #e3e3e3;
    }

    #minPriceNum {
        text-align: left;
        justify-content: left;
    }

    #maxPriceNum {
        text-align: right;
        justify-content: right;
    }
}