/*Color Palette
HIGHLIGHT #66F0F0
PRIMARY #1f1f1f
SECONDARY #363838
FONT #e3e3e3*/

body {
    font-family: "Montserrat", Calibri, sans-serif;
    background-color: #1f1f1f;
    color: #e3e3e3;
}

h1 {
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 1rem 0 0 0;
    font-size: 48px;
    font-family: 'Noto Serif', Calibri, serif;
    color: #e3e3e3;
}

h2 {
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 1rem 0 0 0;
    font-size: 36px;
    font-family: 'Noto Serif', Calibri, serif;
    color: #e3e3e3;
}

p {
    margin: 5px 10px;
    padding: 5px;
    background-color: #3a3a37;
    border-radius: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield;
    /* Standard property for newer browsers */
}

/* class */

.subtitle {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #e3e3e3;
}

.convertTable {
    border-spacing: 1.5rem 0;
    margin: 2rem auto 0 auto;
    text-align: center;

    label {
        display: block;
        margin: 10px 0 5px 0;
        color: #e3e3e3;
    }

    td {
        box-shadow: 0 -0.5rem 1rem 0 #1f1f1f inset;
        background-color: #3a3a37;
        border-radius: 16px;

        input {
            box-shadow: 0 0.5rem 1rem 0 #3a3a37 inset, 0 -0.1rem 0.2rem #66F0F0 inset;
            margin: 0 auto 1rem auto;
            width: 75%;
            padding: 0.5rem;
            border: 0px;
            background-color: #1f1f1f;
            border-radius: 32px;
            font-size: 16px;
            text-align: center;
            color: #66F0F0
        }
    }
}

.historyTable {
    border-spacing: 3rem 0;
    margin: 1rem auto 0.5rem auto;
    width: 75%;
    text-align: center;

    td {
        box-shadow: 0 -0.5rem 1rem 0 #1f1f1f inset;
        background-color: #3a3a37;
        border-radius: 16px;
        padding: 0.5rem 0 0.5rem 0;
        width: 25%;
    }
}

.historyLine {
    border-spacing: 3rem 0;
    margin: 0.5rem auto 0 auto;
    width: 75%;
    text-align: center;

    td {
        background-color: #1f1f1f;
        border: 0.15rem solid #3a3a37;
        border-radius: 16px;
        padding: 0.5rem 0 0.5rem 0;
        width: 25%;
    }
}